{% extends templateservice.getAdminTemplate() %}

{% block content %}
<div id="dt-list"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/paginator.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/list.js') }}"></script>
    <script>

        $('#dt-list').dtList({
            columns: [
                {id1: 'entity', id2: 'creationDate'},
                {id1: 'comment'},
                {id1: 'entityId'},
                {id1: 'userIp'}
            ],
            labels: [
                '{% trans %}Entity{% endtrans %}',
                '{% trans %}Comment{% endtrans %}',
                '{% trans %}Entity ID{% endtrans %}',
                '{% trans %}User IP{% endtrans %}'
            ],
            ajaxUrl: '/{{ app.request.locale }}/admin/log/get/',
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
