{% extends templateservice.getAdminTemplate() %}

{% block content %}
<div id="dt-cards"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/paginator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/list.js') }}"></script>
    <script type="text/javascript">

        $('#dt-cards').dtCards({
            columns: [
                {id1: 'entity', id2: 'creationDate'},
                {id1: 'comment'},
                {id1: 'entityId'},
                {id1: 'userIp'}
            ],
            labels: [
                '{% trans %}Entity{% endtrans %}',
                '{% trans %}Comment{% endtrans %}',
                '{% trans %}Entity ID{% endtrans %}',
                '{% trans %}User IP{% endtrans %}'
            ],
            ajaxUrl: '/{{ app.request.locale }}/admin/log/ajaxlist/',
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
