{% extends templateservice.getAdminTemplate() %}

{% block content %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="width-100" data-column="id">{% trans %}ID{% endtrans %}</th>
            <th data-column="routeName">{% trans %}Route name{% endtrans %}</th>
            <th data-column="description">{% trans %}Description{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/paginator.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/table.js') }}"></script>
    <script type="text/javascript">

        $('.table').dtTable({
            ajaxUrl: '/{{ app.request.locale }}/admin/permission/get/',
            addUrl: '/{{ app.request.locale }}/admin/permission/add/',
            editUrl: '/{{ app.request.locale }}/admin/permission/edit/',
            deleteUrl: '/{{ app.request.locale }}/admin/permission/delete/',
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
