{% extends templateservice.getAdminTemplate() %}

{% block body %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="width-100" data-column="id">{% trans %}ID{% endtrans %}</th>
            <th data-column="name">{% trans %}Email{% endtrans %}</th>
            <th data-column="subject">{% trans %}Subject{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/paginator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/list.js') }}"></script>
    <script type="text/javascript">

        $('.table').dtTable({
            ajaxUrl: '/{{ app.request.locale }}/admin/mail/template/list',
            addUrl: '/{{ app.request.locale }}/admin/mail/template/add',
            editUrl: '/{{ app.request.locale }}/admin/mail/template/edit',
            deleteUrl: '/{{ app.request.locale }}/admin/mail/template/delete',
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
