{% extends templateservice.getAdminTemplate() %}

{% block content %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="width-100" data-column="id">{% trans %}ID{% endtrans %}</th>
            <th data-column="name">{% trans %}Name{% endtrans %}</th>
            <th data-column="description">{% trans %}Description{% endtrans %}</th>
            <th data-column="active">{% trans %}Status{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('.table').dtTable({
            ajaxUrl: '/{{ app.request.locale }}/admin/role/get/',
            addUrl: '/{{ app.request.locale }}/admin/role/add/',
            editUrl: '/{{ app.request.locale }}/admin/role/edit/',
            deleteUrl: '/{{ app.request.locale }}/admin/role/delete/',
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
