{% extends templateservice.getAdminTemplate() %}

{% block content %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="width-100" data-column="id">{% trans %}ID{% endtrans %}</th>
            <th data-column="original">{% trans %}Text{% endtrans %}</th>
            <th data-column="complete">{% trans %}Complete{% endtrans %}</th>
        </tr>
    </thead>
</table>
<a href="/{{ app.request.locale }}/admin/apptranslation/export/" class="btn btn-secondary" data-disable-loader="1">{% trans %}Export{% endtrans %}</a>
<form action="/{{ app.request.locale }}/admin/apptranslation/import/" class="form-inline d-inline-block">
    <input type="file" class="d-none">
    <button type="submit" name="submit" class="btn btn-secondary">{% trans %}Import{% endtrans %}</button>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/paginator.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/table.js') }}"></script>
    <script>

        $('.table').dtTable({
            ajaxUrl: '/{{ app.request.locale }}/admin/apptranslation/get/',
            addUrl: '/{{ app.request.locale }}/admin/apptranslation/add/',
            editUrl: '/{{ app.request.locale }}/admin/apptranslation/edit/',
            view: false,
            filter: true,
            limit: 15
        });

    </script>
{% endblock %}
