{% extends templateservice.getAdminTemplate() %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('vendor/edit_area/edit_area_full.js') }}"></script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs mb-3">
    {% if locales %}
        {% for localeItem in locales %}
        <li class="nav-item">
            <a class="nav-link{% if locale %}{% if localeItem.id == locale.id %} active{% endif %}{% endif %}" href="/en/admin/page/edit/{{id}}/translate/{{localeItem.id}}/">{{localeItem.name}}</a>
        </li>
        {% endfor %}
    {% endif %}
</ul>
<form action="" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('edit-page') }}" />
    <div class="form-group">
        <input type="text" id="page-title" name="page-title" class="form-control" value="{{edit_page_title}}" placeholder="{% trans %}Enter your title here...{% endtrans %}">
    </div>
    <div class="row margin-bottom-15">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">{{settingservice.getSetting('site.url')}}/{{url_locale}}</span>
                </div>
                <input type="text" class="form-control" id="page-route" name="page-route" value="{{page_route}}" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="col-md-auto text-right">
            <a id="im-post-editor-meta" class="btn btn-secondary text-white" data-toggle="collapse" data-target="#im-post-meta-container" data-parent="#im-post-collapse" aria-expanded="false" aria-controls="im-post-meta-container">
                {% trans %}Meta{% endtrans %}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <a id="im-post-editor-settings" class="btn btn-secondary text-white" data-toggle="collapse" data-target="#im-post-settings-container" data-parent="#im-post-collapse" aria-expanded="false" aria-controls="im-post-settings-container">
                <i class="fa fa-cogs"></i>
                {% trans %}Settings{% endtrans %}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown inline-block">
                <button class="btn btn-secondary rounded dropdown-toggle" type="button" id="im-post-editor-mode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {% trans %}Editor{% endtrans %}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="im-post-editor-mode">
                    <!--
                    <a id="im-set-visual" class="im-set-switch btn btn-secondary w-100 dropdown-item" href="#">
                        <i class="fa fa-eye" aria-hidden="true"></i> {% trans %}Visual{% endtrans %}
                    </a>
                    -->
                    <a id="im-set-editor" class="im-set-switch btn btn-secondary w-100 dropdown-item">
                        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans %}Editor{% endtrans %}
                    </a>
                    <a id="im-set-html" class="im-set-switch btn btn-secondary w-100 dropdown-item">
                        <i class="fa fa-code" aria-hidden="true"></i> {% trans %}HTML{% endtrans %}
                    </a>
                </div>
            </div>
            <button type="submit" id="post-submit" class="btn btn-primary width-150">
                <i class="fa fa-save" aria-hidden="true"></i> {% trans %}Save{% endtrans %}
            </button>
        </div>
    </div>
    <div id="im-post-collapse">
        <div id="im-post-meta-container" class="margin-bottom-10 collapse">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Title tag{% endtrans %}</label>
                        <input type="input" id="page-meta-title" name="page-meta-title" class="form-control" value="{{meta_title}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Meta keywords{% endtrans %}</label>
                        <input type="input" id="page-meta-keywords" name="page-meta-keywords" class="form-control" value="{{meta_keywords}}">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{% trans %}Meta description{% endtrans %}</label>
                        <input type="input" id="page-meta-description" name="page-meta-description" class="form-control" value="{{meta_description}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{% trans %}Custom meta{% endtrans %}</label>
                <textarea id="page-meta-custom" name="page-meta-custom" class="form-control" rows="4">{{meta_custom}}</textarea>
            </div>
        </div>
        <div id="im-post-settings-container" class="margin-bottom-10 collapse">
            <div class="row">
                <div class="col-md-auto">
                    {% if main_image %}
                    <img src="<?php echo $post->main_image; ?>" alt="..." class="img-thumbnail">
                    {% else %}
                    <img src="/img/default-300x169.png" alt="{% trans %}No image{% endtrans %}" class="img-thumbnail">
                    {% endif %}<br>
                    <a id="" class="btn btn-secondary w-100 margin-top-5" data-toggle="modal" data-target="#im-media-manager">{% trans %}Add image{% endtrans %}</a>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Publish date{% endtrans %}</label>
                                <input type="date" id="page-publish-date" name="page-publish-date" class="form-control" value="{{publish_date|date('Y-m-d')}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Expire date{% endtrans %}</label>
                                <input type="date" id="page-expire-date" name="page-expire-date" class="form-control" value="{% if expire_date %}{{expire_date|date('Y-m-d')}}{% endif %}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Page status{% endtrans %}</label>
                                <select id="page-status" name="page-status" class="form-control">
                                    <option value="1"{% if status %} selected="selected"{% endif %}>{% trans %}Publish{% endtrans %}</option>
                                    <option value="0"{% if not status %} selected="selected"{% endif %}>{% trans %}Draft{% endtrans %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Page width{% endtrans %}</label>
                                <select id="page-width" name="page-width" class="form-control">
                                    <option value="default"{% if page_width == 'default' %} selected="selected"{% endif %}>{% trans %}Default{% endtrans %}</option>
                                    <option value="1140"{% if page_width == '1140' %} selected="selected"{% endif %}>{% trans %}1140px{% endtrans %}</option>
                                    <option value="980"{% if page_width == '980' %} selected="selected"{% endif %}>{% trans %}980px{% endtrans %}</option>
                                    <option value="700"{% if page_width == '700' %} selected="selected"{% endif %}>{% trans %}700px{% endtrans %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Disable layout{% endtrans %}</label>
                                <select id="disable-layout" name="disable-layout" class="form-control">
                                    <option value="0"{% if not disable_layout %} selected="selected"{% endif %}>{% trans %}No{% endtrans %}</option>
                                    <option value="1"{% if disable_layout %} selected="selected"{% endif %}>{% trans %}Yes{% endtrans %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{% trans %}Authorization{% endtrans %}</label>
                                <input type="text" name="authorization" class="form-control">
                            </div>
                        </div>
                    </div>
                    <label>{% trans %}Grant access to role{% endtrans %}</label>
                    <div class="row">
                    {% if roles %}
                        {% for role in roles %}
                        <div class="col-md-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    {% set checked = '' %}
                                    {% if roles_set %}
                                        {% for roles_set_item in roles_set %}
                                            {% if role.id == roles_set_item.roleId %}
                                                {% set checked = ' checked="checked"' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <input id="form_role_{{role.id}}" name="form_role[]" class="form-check-input" value="{{role.id}}" type="checkbox" {{checked}}>
                                    {{ role.name|e }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="im-post-editor-html" class="form-group">
        <textarea id="page-content" name="page-content" class="form-control" style="min-height: 543px;">{{content}}</textarea>
    </div>
    <div id="im-post-editor-components" class="w-100 mb-3" style="display: none; min-height: 543px;background: white; border: 1px solid rgba(0, 0, 0, .125); border-radius: 4px; ">

    </div>
    <div class="card margin-bottom-15">
        <div class="card-header im-post-editor-card" data-toggle="collapse" data-target="#custom-css-collapse" aria-expanded="false" aria-controls="custom-css-collapse">
                {% trans %}Custom CSS{% endtrans %}
                <a class="float-right pointer"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div id="custom-css-collapse" class="card-block collapse">
            <textarea id="custom-css" name="custom-css" class="form-control">{{custom_css}}</textarea>
        </div>
    </div>
    <div class="card margin-bottom-15">
        <div class="card-header im-post-editor-card" data-toggle="collapse" data-target="#custom-js-collapse" aria-expanded="false" aria-controls="custom-js-collapse">
            {% trans %}Custom Javascript{% endtrans %}
            <a class="float-right pointer"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div id="custom-js-collapse" class="card-block collapse">
            <textarea id="custom-js" name="custom-js" class="form-control">{{custom_js}}</textarea>
        </div>
    </div>
</form>
<style>
    #EditAreaArroundInfos_page-content { display: none;}
</style>
<script>

    jQuery(document).ready(function() {

        var content_area;

        jQuery(document).on('blur', '#post-title', function() {
            var url = jQuery('#post-url').val();
            if (url == '') jQuery('#post-url').val(encodeURIComponent(jQuery('#post-title').val()));
        });

        jQuery('#im-post-collapse').on('show.bs.collapse','.collapse', function() {
            jQuery('#im-post-collapse').find('.collapse.show').collapse('hide');
        });

        jQuery(document).on('click', '.im-post-editor-card', function() {
            jQuery(this).find('i').toggleClass('fa-chevron-left').toggleClass('fa-chevron-down');
        });
        jQuery(document).on('click', '#im-set-visual', function() {
            disableHtmlEditor();
            disableEditor();
            enableVisualEditor();
        });
        jQuery(document).on('click', '#im-set-editor', function() {
            disableHtmlEditor();
            disableVisualEditor();
            enableEditor();
        });
        jQuery(document).on('click', '#im-set-html', function() {
            disableVisualEditor();
            disableEditor();
            enableHtmlEditor();
        });

        $('#custom-css-collapse').on('show.bs.collapse', function () {
         	editAreaLoader.init({
         		id: "custom-css",
         		language: "en",
         		syntax: "css",
         		toolbar: "undo, redo",
         		syntax_selection_allow: "css",
         		min_height: 300,
         		show_line_colors: true
         	});
        });
        $('#custom-css-collapse').on('hidden.bs.collapse', function () {
            editAreaLoader.delete_instance('custom-css');
        });
        $('#custom-js-collapse').on('show.bs.collapse', function () {
            editAreaLoader.init({
                id: "custom-js",
                start_highlight: true,
                language: "en",
                syntax: "js",
                toolbar: "undo, redo",
                syntax_selection_allow: "js",
                min_height: 300,
                show_line_colors: true
            });
        });
        $('#custom-js-collapse').on('hidden.bs.collapse', function () {
            editAreaLoader.delete_instance('custom-js');
        });

        if (readCookie('page-editor') == 'html') enableHtmlEditor();
        if (readCookie('page-editor') == 'visual') enableVisualEditor();
        if (readCookie('page-editor') == 'editor') enableEditor();
        if (readCookie('page-editor') == null) enableEditor();

        function enableEditor() {
            eraseCookie('page-editor');
            createCookie('page-editor','editor',30);

            tinymce.init({
                selector: '#page-content',
                height: 400,
                theme: 'modern',
                menubar: false,
                verify_html: false,
                relative_urls: false,
                convert_urls: false,
                remove_script_host : false,
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
                ],
                toolbar1: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                image_advtab: true,
                templates: [
                    { title: 'Test template 1', content: 'Test 1' },
                    { title: 'Test template 2', content: 'Test 2' }
                ],
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ],
                branding: false
            });
        }
        function disableEditor() {
            tinyMCE.remove();
        }
        function enableHtmlEditor() {
            eraseCookie('page-editor');
            createCookie('page-editor','html',30);
            editAreaLoader.init({
    			id: "page-content",
    			allow_resize: "no",
    			allow_toggle: true,
                toolbar: "undo, redo",
    			syntax: "html",
    			min_height: 350,
         		show_line_colors: true
    		});
        }
        function disableHtmlEditor() {
            editAreaLoader.delete_instance('page-content');
        }
        function enableVisualEditor() {
            eraseCookie('page-editor');
            createCookie('page-editor','visual',30);
            jQuery('#im-post-editor-html').hide();
            jQuery('#im-post-editor-components').addClass('active').show();
        }
        function disableVisualEditor() {

            jQuery('#im-post-editor-html').show();
            jQuery('#im-post-editor-components').removeClass('active').hide();
        }

    	function createCookie(name, value, days) {
    		var expires;
    		if (days) {
    			var date = new Date();
    			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    			expires = "; expires=" + date.toGMTString();
    		} else {
    			expires = "";
    		}
    		document.cookie = escape(name) + "=" + escape(value) + expires + "; path=/;";
    	}
    	function readCookie(name) {
    	    var nameEQ = escape(name) + "=";
    	    var ca = document.cookie.split(';');
    	    for (var i = 0; i < ca.length; i++) {
    	        var c = ca[i];
    	        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
    	        if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
    	    }
    	    return null;
    	}
    	function eraseCookie(name) {
    		document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    	}
    });

</script>

{% endblock %}
