{% extends templateservice.getAdminTemplate() %}

{% set page_title='Pages' %}

{% block content %}
<div id="dt-list"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/paginator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/list.js') }}"></script>
    <script type="text/javascript">

        $('#dt-list').dtList({
            columns: [
                {id1: 'pageTitle', id2: 'pageRoute'},
                {id1: 'publishDate'},
                {id1: 'status'}
            ],
            labels: [
                '{% trans %}Title{% endtrans %}',
                '{% trans %}Publish date{% endtrans %}',
                '{% trans %}Published{% endtrans %}'
            ],
            ajaxUrl: '/{{ app.request.locale }}/admin/page/get/',
            addUrl: '/{{ app.request.locale }}/admin/page/add/',
            editUrl: '/{{ app.request.locale }}/admin/page/edit/',
            deleteUrl: '/{{ app.request.locale }}/admin/page/delete/',
            filter: true,
            refresh: 1,
            limit: 15
        });

    </script>
{% endblock %}
