<div class="row mb-3">
{% set current = '' %}
{% if permissions %}
    {% for permission in permissions %}
        {% if current != permission.name %}
        {% set current = permission.name %}
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <h5>{{permission.name}} <a class="permission-select-all font-xs pointer">{% trans %}Select all{% endtrans %}</a></h5>
            </div>
        {% endif %}
        <div class="col-md-3">
            <div class="form-check">
                <label class="form-check-label">
                    {% set checked = '' %}
                    {% if permissions_set %}
                        {% for permission_set in permissions_set %}
                            {% if permission.id == permission_set.id %}
                                {% set checked = ' checked="checked"' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <input id="form_permission_{{permission.id}}" name="form_permission[]" class="form-check-input" value="{{permission.id}}" type="checkbox" {{checked}}>
                    {% if permission.description != '' %}
                        {{ permission.description|e }}
                    {% else %}
                        {{ permission.route_name|e }}
                    {% endif %}
                </label>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
<script>
    $('.permission-select-all').click(function() {
        $(this).parent().parent().parent().find('.form-check-input').prop('checked', true);
    });
</script>
