{% extends templateservice.getAdminTemplate() %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('vendor/edit_area/edit_area_full.js') }}"></script>
{% endblock %}

{% block content %}

<form action="" method="post">

    <div class="form-group">
        <label for="template-footer">{% trans %}Footer{% endtrans %}</label>
        <textarea id="template-footer" name="template-footer" class="form-control">{{template_footer}}</textarea>
    </div>
    <div class="form-group">
        <label for="custom-css">{% trans %}Custom CSS{% endtrans %}</label>
        <textarea id="custom-css" name="custom-css" class="form-control">{{custom_css}}</textarea>
    </div>
    <div class="form-group">
        <label for="custom-js">{% trans %}Custom Javascript{% endtrans %}</label>
        <textarea id="custom-js" name="custom-js" class="form-control">{{custom_js}}</textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans %}Save{% endtrans %}">
    <a href="/{{ app.request.locale }}/admin/template/compile/{{templateId}}" class="btn btn-secondary">{% trans %}Compile{% endtrans %}</a>
</form>

<script>

    jQuery(document).ready(function() {

     	editAreaLoader.init({
     		id: "template-footer",
     		allow_toggle: true,
     		language: "en",
     		syntax: "html",
     		toolbar: "undo, redo",
     		syntax_selection_allow: "css",
     		min_height: 300,
     		show_line_colors: true,
     	});
     	editAreaLoader.init({
     		id: "custom-css",
     		allow_toggle: true,
     		language: "en",
     		syntax: "css",
     		toolbar: "undo, redo",
     		syntax_selection_allow: "css",
     		min_height: 300,
     		show_line_colors: true,
     	});
        editAreaLoader.init({
            id: "custom-js",
            start_highlight: true,
            allow_toggle: true,
            language: "en",
            syntax: "js",
            toolbar: "undo, redo",
            syntax_selection_allow: "js",
            min_height: 300,
            show_line_colors: true,
        });
    });

</script>

{% endblock %}
