{% extends templateservice.getAdminTemplate() %}

{% block body %}
<div class="row">
    {% for template in templates %}
    <div class="col-3">
        <div class="card">
            <img src="{{fileservice.getFile(template.getImage())}}" class="card-img-top" alt="{{template.getName()}}">
            <div class="card-body">
                <h5 class="card-title">{{template.getName()}}</h5>
                <p class="card-text">{{template.getDescription()}}</p>
                <a href="/{{ app.request.locale }}/admin/template/edit/{{template.getId()}}" class="btn btn-primary">{% trans %}Edit template{% endtrans %}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
