<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label required" for="form_firstname">{% trans %}Firstname{% endtrans %}</label>
            <input id="firstname" name="firstname" required="required" class="form-control" value="{{firstname}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label required" for="form_lastname">{% trans %}Lastname{% endtrans %}</label>
            <input id="lastname" name="lastname" required="required" class="form-control" value="{{lastname}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label required" for="form_email">{% trans %}Email{% endtrans %}</label>
            <input id="email" name="email" required="required" class="form-control" value="{{email}}" type="email">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label ten required" for="form_phone">{% trans %}Phone{% endtrans %}</label>
            <input id="phone" name="phone" required="required" class="form-control" value="{{phone}}" type="phone">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_password">{% trans %}Password{% endtrans %}</label>
            <input id="password" name="password" class="form-control" type="password" value="{{password}}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_password">{% trans %}Comfirm password{% endtrans %}</label>
            <input id="password_confirm" name="password-confirm" class="form-control" type="password" value="{{password}}">
        </div>
    </div>
</div>
<div class="form-group">
    <label class="form-control-label" for="form_userrole">{% trans %}User roles{% endtrans %}</label>
    <select id="userrole" name="userrole[]" class="form-control" multiple="multiple">
    </select>
</div>
<div class="form-group">
    <div class="form-check">
        <label class="form-check-label">
            <input id="emailConfirmed" name="emailConfirmed" class="form-check-input" value="1" type="checkbox"{% if email_confirmed %} checked="checked"{% endif %}>
            {% trans %}Email confirmed{% endtrans %}
        </label>
    </div>
</div>
<div class="form-group">
    <div class="form-check">
        <label class="form-check-label">
            <input id="phoneConfirmed" name="phoneConfirmed" class="form-check-input" value="1" type="checkbox"{% if phone_confirmed %} checked="checked"{% endif %}>
            {% trans %}Phone confirmed{% endtrans %}
        </label>
    </div>
</div>
