<h4>{% trans %}Company information{% endtrans %}</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_company_name">{% trans %}Company name{% endtrans %}</label>
            <input id="form_company_name" name="form_company_name" class="form-control" value="{{company_name}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_website">{% trans %}Website{% endtrans %}</label>
            <input id="form_website" name="form_website" class="form-control" value="{{website}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_vat_number">{% trans %}VAT Number{% endtrans %}</label>
            <input id="form_vat_number" name="form_vat_number" class="form-control" value="{{vat_number}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_registration_number">{% trans %}Registration Number{% endtrans %}</label>
            <input id="form_registration_number" name="form_registration_number" class="form-control" value="{{registration_number}}" type="text">
        </div>
    </div>
</div>
<h4>{% trans %}Mailaddress{% endtrans %}</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_mail_address_1">{% trans %}Address{% endtrans %}</label>
            <input id="form_mail_address_1" name="form_mail_address_1" class="form-control" value="{{mail_address_1}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_mail_address_2">{% trans %}Address 2{% endtrans %}</label>
            <input id="form_mail_address_2" name="form_mail_address_2" class="form-control" value="{{mail_address_2}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_mail_zipcode">{% trans %}Zipcode{% endtrans %}</label>
            <input id="form_mail_zipcode" name="form_mail_zipcode" class="form-control" value="{{mail_zipcode}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label ten" for="form_mail_city">{% trans %}City{% endtrans %}</label>
            <input id="form_mail_city" name="form_mail_city" class="form-control" value="{{mail_city}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_mail_country">{% trans %}Country{% endtrans %}</label>
            <input id="form_mail_country" name="form_mail_country" class="form-control" type="text" value="{{mail_country}}">
        </div>
    </div>
</div>
<h4>{% trans %}Billing address{% endtrans %}</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_billing_address_1">{% trans %}Address{% endtrans %}</label>
            <input id="form_billing_address_1" name="form_billing_address_1" class="form-control" value="{{billing_address_1}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_billing_address_2">{% trans %}Address 2{% endtrans %}</label>
            <input id="form_billing_address_2" name="form_billing_address_2" class="form-control" value="{{billing_address_2}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_billing_zipcode">{% trans %}Zipcode{% endtrans %}</label>
            <input id="form_billing_zipcode" name="form_billing_zipcode" class="form-control" value="{{billing_zipcode}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label ten" for="form_billing_city">{% trans %}City{% endtrans %}</label>
            <input id="form_billing_city" name="form_billing_city" class="form-control" value="{{billing_city}}" type="text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="form_billing_country">{% trans %}Country{% endtrans %}</label>
            <input id="form_billing_country" name="form_billing_country" class="form-control" type="text" value="{{billing_country}}">
        </div>
    </div>
</div>
