{% extends "layout/index.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Ubuntu" media="screen" rel="stylesheet" type="text/css">
<link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="admin-container">
    <div class="admin-navigation">
        <div class="admin-logo">
            <a href="/{{ app.request.locale }}/admin/">
                {{settingservice.getSetting('site.logo')|raw}}
            </a>
        </div>
        {% block sidebar %}
        <nav class="dt-admin-menu">
            <ul>
            {% for menuItem in menuservice.getMenu(2) %}
                {% set submenu = menuservice.getSubMenu(menuItem.id) %}
                <li>
                    <a href="/{{ app.request.locale }}/{{menuItem.route}}">
                    {{menuItem.label|trans|raw}}
                    {% if submenu is not empty %}<i class="fas fa-angle-right float-right"></i>{% endif %}
                    </a>
                {% set submenu = menuservice.getSubMenu(menuItem.id) %}
                {% if submenu is not empty %}
                    <ul>
                        {% for subMenuItem in submenu %}
                        <li><a href="/{{ app.request.locale }}/{{subMenuItem.route}}">{{subMenuItem.label|trans|raw}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </nav>
        {% endblock %}
    </div>
    <div class="admin-user-menu dropdown inline-block margin-right-15">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- Gravatar img -->
            <span class="hidden-sm-down">{{ app.user.getFirstname() }} {{ app.user.getLastname() }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="right:0;left:auto;">
            <a class="dropdown-item" href="/{{ app.request.locale }}/admin/account">{% trans %}My account{% endtrans %}</a>
            <a class="dropdown-item" href="/{{ app.request.locale }}/admin/reset-password">{% trans %}Change password{% endtrans %}</a>
            <a class="dropdown-item" href="/{{ app.request.locale }}/logout">{% trans %}Logout{% endtrans %}</a>
        </div>
    </div>
    <main class="admin-content">
        {% if page_title is defined %}<h1>{{ page_title|trans|raw }}</h1>{% endif %}
        <!--
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setPartial('partial/breadcrumb'); ?>
        -->
        {% for message in app.flashes('error') %}
            <div class="alert alert-dismissible alert-danger">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-dismissible alert-info">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
</div>
<footer class="container-fluid">
        &copy; 2014 - {{ "now"|date('Y') }} by InterMention.
        {% trans %}All rights reserved.{% endtrans %}
        {{constant('APPLICATION_VERSION')}}
</footer>
{% endblock %}
