{% extends "layout/index.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('admin') }}
    <link rel="stylesheet" type="text/css" href="/css/admin.css?v={{settingservice.getSetting('template.assets.version')}}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        var translations = {};
        {% for key,value in translations %}
        translations['{{key}}'] = '{{value|raw}}';
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
<div id="admin-app"></div>
<footer class="container-fluid">
        &copy; 2014 - {{ "now"|date('Y') }} by InterMention.
        {% trans %}All rights reserved.{% endtrans %}
        {{constant('APPLICATION_VERSION')}}
</footer>
{% endblock %}
