<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <title>{% block title %}{% if meta_title is defined %}{{ meta_title }}{% else %}{{ page_title }}{% endif %} - {{settingservice.getSetting('site.name')|striptags}}{% endblock %}</title>
{% block tracking %}{% endblock %}

{% block meta %}
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        {% if meta_keywords is defined %}<meta name="keywords" content="{{ meta_keywords }}">{% endif %}

        {% if meta_description is defined %}<meta name="description" content="{{ meta_description }}">{% endif %}

        <meta property="og:type" content="website">
        {% if meta_title is defined %}<meta property="og:title" content="{{ meta_title }}">{% endif %}

        {% if meta_description is defined %}<meta property="og:description" content="{{ meta_description }}">{% endif %}

        <meta property="og:url" content="{{settingservice.getSetting('site.url')}}">
        <meta property="og:site_name" content="{{settingservice.getSetting('site.name')|striptags}}">
        {% if page_image is defined %}
        <meta property="og:image" content="{{page_image.url}}">
        <meta property="og:image:width" content="{{page_image.width}}">
        <meta property="og:image:height" content="{{page_image.height}}">
        {% endif %}
        <meta property="og:locale" content="en_US">
        {% if meta_title is defined %}<meta name="twitter:text:title" content="{{ meta_title }}">{% endif %}

        <meta name="twitter:card" content="summary">
{% endblock %}
{% block stylesheets %}
        <style>
            .page-loading { position: fixed; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.85); z-index: 9999; color: white; }
            .page-loading-text { height: 100%; padding-top: 22%; margin: 0 auto; text-align: center; font-size: 1.6rem; letter-spacing: 0.1rem; line-height: 2rem; color: white;}
        </style>
{% endblock %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    </head>
    <body>
        <div class="page-loading">
            <div class="page-loading-text">
                <i class="fas fa-spinner animated rotateIn infinite"></i> LOADING...
            </div>
        </div>
{% block body %}{% endblock %}
        <div class="modal fade" id="dt-modal" tabindex="-1" role="dialog" aria-labelledby="dt-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
{% block javascripts %}
        <script src="{{ asset('js/admin.js') }}"></script>
        <script src="{{ asset('js/usability.js') }}"></script>
        <script src="{{ asset('vendor/popper.min.js') }}"></script>
        <script src="{{ asset('vendor/moment/moment.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/bootstrap.min.js') }}"></script>
        <script>

            jQuery(document).ready(function () {

                //setTimeout(function() {
                    jQuery('.page-loading').fadeOut(400);
                //}, 300);

                jQuery(document).on('click', 'a', function(e) {
                    var href = jQuery(this).attr('href');
                    if (href != '' && href != undefined && href.indexOf('#') != 0) {
                        e.preventDefault();
                        jQuery('.page-loading').fadeIn(100, function() {
                            window.location.href = href;
                        });
                    }
                });
            });

            var translations = {
                'Close': '{% trans %}Close{% endtrans %}',
                'Cancel': '{% trans %}Cancel{% endtrans %}',
                'Delete': '{% trans %}Delete{% endtrans %}',
                'Error': '{% trans %}Error{% endtrans %}',
                'An error has occurred.': '{% trans %}An error has occurred.{% endtrans %}',
                'Please try again.': '{% trans %}Please try again.{% endtrans %}',
                'View record': '{% trans %}View record{% endtrans %}',
                'Confirm delete': '{% trans %}Confirm delete{% endtrans %}',
                'You are about to delete a record, this cannot be undone.': '{% trans %}You are about to delete a record, this cannot be undone.{% endtrans %}',
                'Do you want to proceed?': '{% trans %}Do you want to proceed?{% endtrans %}',
            }
        </script>
{% endblock %}
    </body>
</html>
