{% extends templateservice.getAdminTemplate() %}

{% set page_title='File Group' %}

{% block content %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="width-100" data-column="id">{% trans %}ID{% endtrans %}</th>
            <th data-column="name">{% trans %}Name{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/paginator.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/table.js') }}"></script>
    <script>

        $('.table').dtTable({
            ajaxUrl: '/{{ app.request.locale }}/admin/filegroup/get/',
            addUrl: '/{{ app.request.locale }}/admin/filegroup/add/',
            editUrl: '/{{ app.request.locale }}/admin/filegroup/edit/',
            deleteUrl: '/{{ app.request.locale }}/admin/filegroup/delete/',
            filter: true,
            sort: 'asc',
            limit: 15
        });

    </script>
{% endblock %}
